.login{
    padding: 0 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
::ng-deep .scroll-y{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/15549a14589707.5628669c64769.png);
}